

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	color: #c93937;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Questrial', Arial, sans-serif;
	overflow-x: hidden;
}

a {
	color: #700f11;
	text-decoration: none;
	outline: none;
}

/* background colors */
.demo-2 { background: #fcdddd; }
.demo-2 a { color: #700f11; }


section {
	padding: 1em;
	text-align: center;
}
/* responsive utilities*/
   
    .row {
      width: 100%;
    }
    
    .row::after {
      content: "";
      clear: both;
      display: block;
    }
    
    [class*="col-"] {
      float: left;
      padding: 15px;
    }
    
    /* Basic styles */
    
    html,
    body {
      overflow-x: hidden;
      min-height: 100%
    }
    
    
    a {
      text-decoration: none;
      color: #700f11;
    }
    
    a:hover {
      text-decoration: none;
      color: #700f11;
    }
    
    a:visited {
      text-decoration: none;
      color: #700f11;
    }
    

    h1 {
      color: #c93937;
      font-family: 'Questrial', Arial;
      font-size: 28px;
      text-align: center;
      margin-bottom: 1em;
    }
    
    h2 {
      color: #c93937;
      font-family: 'Questrial', Arial;
      font-size: 24px;
      font-weight: 200;
      margin-top: 150px;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 100;
    }
    
    p {
      color: #c93937;
      font-family: 'Questrial', Arial;
      font-size: 100%;
      font-weight: normal;
      margin-top: 200px;
      position: absolute;
      text-align: center;
      z-index: 100;
      padding: 1em;
    }
    
    footer {
      position: absolute;
      bottom: 0;
      left:0;
      width: 100%;
      z-index: -2;
      background: url('../footer-sito.svg');
      background-size: 100%;
      background-repeat: no-repeat;
    }
    
    .footer-contact {
      position: relative;
      display: inline-block;
      color: #f9f2f2;
      margin-top: 2em;
    }
    
    .footer-contact a {
      text-decoration: none;
      color: #fff!important;
    }
    
    footer .row {
      margin-top: 7em;
    }
    
    .footer-tablet {
      visibility: hidden;
    }
    /* Scrollbar */
    
    body::-webkit-scrollbar-track {
      border: none;
      background-color: #f9f2f2;
    }
    
    body::-webkit-scrollbar {
      width: 10px;
      background-color: #fcdddd;
    }
    
    body::-webkit-scrollbar-thumb {
      background-color: #700f11;
    }
    /* Material Design Cards */
    
    .transition {
      transition: .3s cubic-bezier(.3, 0, 0, 1.3)
    }
    
    .card {
      background-color: #f9f2f2;
      bottom: 0;
      box-shadow: 0px 0px 10px 2px rgba(150, 15, 17, 0.3);
      -webkit-box-shadow: 0px 0px 10px 2px rgba(150, 15, 17, 0.3);
      -moz-box-shadow: 0px 0px 10px 2px rgba(150, 15, 17, 0.3);
      height: 300px;
      left: 0;
      margin: auto;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      width: 300px;
    }
    
    .card:hover {
      height: 450px;
      width: 300px;
    }
    
    .card:hover .cta-container {
      display: inline;
      margin-top: 380px;
    }
    
    .card:hover .card_circle {
      background-size: cover;
      border-radius: 0;
      margin-top: -130px;
    }
    
    .card:hover .card_circle_1 {
      background-size: cover;
      border-radius: 0;
      margin-top: -130px;
    }
    
    .card:hover h2 {
      background: rgba(199, 56, 56, .5);
      color: #c3ede8;
      margin-top: 100px;
      padding: 5px;
    }
    
    .card:hover h2 small {
      color: #f9f2f2
    }
    
    .card:hover p {
      margin-top: 300px
    }
    
    .card_circle {
      background: url('../img/CEO.jpg') no-repeat center bottom;
      background-color: #c93937;
      background-size: cover;
      border-radius: 50%;
      height: 400px;
      margin-left: -75px;
      margin-top: -270px;
      position: absolute;
      width: 450px;
    }
    
    .card_circle_1 {
      background: url('../img/WD.jpg') no-repeat center bottom;
      background-color: #c93937;
      background-size: cover;
      border-radius: 50%;
      height: 400px;
      margin-left: -75px;
      margin-top: -270px;
      position: absolute;
      width: 450px;
    }
    
    .cta-container {
      display: none;
      margin-top: 320px;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 100;
    }
    
    .cta {
      -moz-transition: 0.2s ease-out;
      -ms-transition: 0.2s ease-out;
      -o-transition: 0.2s ease-out;
      -webkit-transition: 0.2s ease-out;
      background-clip: padding-box;
      border: 2px solid #c93937;
      color: #c93937;
      display: inline-block;
      font-family: 'Questrial', Arial;
      font-size: 17px;
      font-weight: 400;
      height: 36px;
      letter-spacing: 0.5px;
      line-height: 36px;
      margin-bottom: 15px;
      padding: 0 2rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.2s ease-out;
      cursor: pointer;
    }
    
    .cta:hover {
      background-color: #c93937;
      box-shadow: 0 8px 17px 0 rgba(150, 15, 17, 0.2), 0 6px 20px 0 rgba(150, 15, 17, 0.19);
      color: #f9f2f2;
      -moz-box-shadow: 0 8px 17px 0 rgba(150, 15, 17, 0.2), 0 6px 20px 0 rgba(150, 15, 17, 0.19);
      -webkit-box-shadow: 0 8px 17px 0 rgba(150, 15, 17, 0.2), 0 6px 20px 0 rgba(150, 15, 17, 0.19);
    }
    
    .team-1 {
      position: absolute;
      left: 5%;
      top: 55%;
    }
    
    .team-2 {
      position: absolute;
      right: 5%;
      top: 55%;
    }
    /* modal dialogs */
    
    .lightbox {
      background: rgba(150, 15, 17, 0.6);
      width: 100%;
      height: 100%;
      position: absolute;
      text-align: center;
    }
    
    .lightbox h1 {
      margin-top:3em;
      color: #f9f2f2;
    }
    
    .lightbox form {
      text-align: center;
      padding: 1em;
    }
    
    .lightbox a {
      margin: 10px;
      padding: 10px 15px;
      border: 2px solid #f9f2f2;
      cursor: pointer;
      display: inline-block;
      color: #f9f2f2;
      text-transform: uppercase;
    }
    
    .lightbox a:hover,
    .submit-input:hover {
      background-color: #f9f2f2;
      color: #c93937;
      font-weight: bold;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 10, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .close {
      position: absolute;
      top: 70px;
      right: 20px;
      font-weight: bold;
      padding: 5px 8px!important;
      cursor:pointer;
    }
    
    /* form starting stylings ------------------------------- */
    
    form {
      background: #700f11;
      width: 90%;
      margin: 0 auto;
    }

    input,
    textarea {
      font-size: 18px;
      font-family: 'Questrial', Arial;
      padding: 10px 10px 10px 5px;
      border: none;
      width:99%;
      display:block;
      border-bottom: 1px solid #c93937;
      background: transparent;
      color: #f9f2f2;
    }
    
    textarea{
      padding-top:50px;
    }
    
        input:focus,
    textarea:focus {
      outline: none;
    }
    
    .submit-input {
      float:right;
      margin: 10px;
      padding: 10px 15px;
      border: 2px solid #f9f2f2;
      cursor: pointer;
      display: block;
      color: #f9f2f2;
      text-transform: uppercase;
      width:10%;
    }
    
  
    /* LABEL ======================================= */
    
    label {
      color: #f9f2f2;
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 85px;
      top: 30px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    
    .label-1 {
      top: 170px;
    }
    
    .label-2 {
      top: 210px;
    }
    
    .label-3 {
      top: 460px;
    }
    
      /* active state */
    
    .input-1:focus ~ .label-1,
    .input-1:valid ~ .label-1 {
      top: 160px;
      font-size: 16px;
      color: #c93937;
    }
    .input-2:focus ~ .label-2,
    .input-2:valid ~ .label-2 {
      top: 200px;
      font-size: 16px;
      color: #c93937;
    }
    
    textarea:focus ~ .label-3 {
    	top: 260px;
      	font-size: 16px;
      	color: #c93937;
    }
    
    /* BOTTOM BARS ================================= */
    
    .bbar-1,
    .bbar-2,
    .bbar-3 {
      position: relative;
      display: block;
      width:100%;
    }
    
    .bbar-1:before,
    .bbar-1:after,
    .bbar-2:before,
    .bbar-2:after,
    .bbar-3:before,
    .bbar-3:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #cc3333;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    
    .bbar-1:before,
    .bbar-2:before,
    .bbar-3:before{
      left: 50%;
    }
    
    .bbar-1:after,
    .bbar-2:after,
    .bbar-3:after{
      right: 50%;
    }
    
    /* active state */
    
    .input-1:focus ~ .bbar-1:before,
    .input-2:focus ~ .bbar-2:before,
    textarea:focus ~ .bbar-3:before,
    .input-1:focus ~ .bbar-1:after,
    .input-2:focus ~ .bbar-2:after,
    textarea:focus ~ .bbar-3:after {
      width: 50%;
    }
    /* media queries */
    
    @media screen and (min-width: 768px) {
      .col-6 {
        width: 50%;
      }
      .col-4 {
        width: 33.3%;
      }
    }
    
    @media screen and (max-width:1025px) {
      
      body{
        margin-top:60px!important;
      }
      footer {
        background-image: none;
        background-color: #c93937;
      }
      footer .row {
        margin-top: 2em;
      }
      .footer-tablet {
        margin-top: 1.5em;
        opacity: .6;
        visibility: visible;
      }
      .team-1{
        top:35%;
        left:1%;
      }
      .team-2{
        top:35%;
        right:1%;
      }
    }
    
    @media screen and (max-width: 768px) {
      html{
        padding-top:0!important;
      }
      
      body {
        margin-top:0!important;
      }

      .col-6 {
        width: 100%;
      }
      .col-4 {
        width: 100%;
      }
      .team-1 {
        position: absolute;
        left: 0%;
        top: 35%;
      }
      .team-2 {
        position: absolute;
        right: 0%;
        top: 85%;
      }
      footer > .row >.col-6 > .col-6:first-child {
        border-right: 1px solid #fff;
      }
      footer {
        top: 130%;
        bottom: auto;
      }
      .footer-tablet {
        visibility: visible;
      }
      .lightbox {
        overflow: scroll;
      }
      
      .lightbox h1 {
        margin-top:3em;
        font-size: 22px;
        line-height: 24px;
      }
      .input-2 {
        margin-top:1em;
      }
      
      .label-1 {
        top:145px;
      }
      .label-2 {
        top:205px;
      }
      .label-3 {
        top:455px;
      }
     
       /* active state */
    
    .input-1:focus ~ .label-1,
    .input-1:valid ~ .label-1 {
      top: 125px;
      font-size: 16px;
      color: #c93937;
    }
    .input-2:focus ~ .label-2,
    .input-2:valid ~ .label-2 {
      top: 185px;
      font-size: 16px;
      color: #c93937;
    }
    
    textarea:focus ~ .label-3 {
    	top: 255px;
      	font-size: 16px;
      	color: #c93937;
    }
    
    .submit-input {
      width:25%;
    }
     
      .close {
        top:2px;
        right:2px;
      }
    }
    
    @media screen and (max-width: 480px) {
      
      input, textarea {
        width:96%;
      }
      .team-1 {
        position: absolute;
        left: 0%;
        top: 60%;
      }
      .team-2 {
        position: absolute;
        right: 0%;
        top: 150%;
      }
      footer{
        top:190%;
      }
    }
    
    .privacy {
    	text-align:center;
    	color:#c93937;
    	margin:10px;
    }
