/* 
    Created on : 30-Nov-2014, 22:54:59
    Author    : Laura Camellini, Mauro Bonapace
*/
input, textarea, select{
    font-family: 'EnvyCodeRRegular';
    font-size: 18px;
    margin:  0;
    background: none;}
ul, ol{
    margin: 0;
    line-height: 150%;
}


ul li{
    float:left; display:inline; overflow:hidden;margin:0; padding:0; border:none; background:none ;
    list-style-position:none;
    margin: 0;
}


@font-face {
    font-family: 'EnvyCodeRRegular';
    src: url('fonts/envy_code_r_vs-webfont.eot');
    src: url('fonts/envy_code_r_vs-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/envy_code_r_vs-webfont.woff') format('woff'),
        url('fonts/envy_code_r_vs-webfont.ttf') format('truetype'),
        url('fonts/envy_code_r_vs-webfont.svg#envy_code_r_vsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'abeatbyKaiRegular';
    src: url('fonts/abeatbyKaiRegular.eot');
    src: url('fonts/abeatbyKaiRegular.woff');
    src: local('abeatbyKaiRegular'), url('fonts/abeatbyKaiRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body{
    padding: 0 3px 0 3px;
    overflow-x:hidden;
    overflow-y: hidden;
    color:#000;
    font-size:10px;
}



::-webkit-scrollbar {
    height: 0px;
    width: 1px;
}


.inputreadonly, inputreadonly:focus {
    background:transparent url(none);
    border:none;

    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    position: relative;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-transform:uppercase;
    color:#646464;
    font-family: Arial, Helvetica, sans-serif;  
    padding:0;
    font-size:9px;
    height:10px;
    margin:0;

    text-shadow:none;

}
#out{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing:border-box;
     margin-bottom:15px;

     width:100%}
#from,#subjp,#statd,#out{display:none}
#from,#subjp,#statd{vertical-align:middle;font-family: Arial, Helvetica, sans-serif;font-size:10px;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing:border-box;}

#from{
    color:#646464;
    line-height:18px;
    height:18px;
    white-space: nowrap;
    overflow:hidden;
    padding-left: 3px;

}
div#subjp{padding-left: 9px;
}
#subjp{
    color:#5a5a5a;
    line-height:12px;
    height:16px;

}

#statd{font-size:10px;color:#a0a0a0;
       line-height:10px;
       height:13px;
       text-align:right;
       padding-right: 3px;

}

.input {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
        background:#eaeaea url(none);
        border-bottom:1px solid #d9d9d9;
        border-top:1px solid #b9b9b9;
        border-left:0;
        border-right:0;
        padding: 0 7px;
        margin:0;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        z-index:0;
        color:#5a5a5a;
        font-family: 'EnvyCodeRRegular';
        font-size:14px;
        height:35px;
        width:100%;
}

*:focus, *:active {
    outline:none;

    -webkit-appearance: none;
}

.input:focus {
    background:#e0e0e0  ;
    color:black;
    text-shadow:none;

    border-left:0;
    border-right:0;
    -webkit-transition:background .5s ease-in, color .3s ease-in; 

    -moz-transition:background .5s ease-in, color .3s ease-in;  
    -o-transition:background .5s ease-in, color .3s ease-in;  
    transition:background .5s ease-in, color .3s ease-in; 
}

.textarea, .textareaClone{
    margin: 0 20%;
    width: 60%;
    min-height: 125px;
    font-family: 'EnvyCodeRRegular';
    font-size: 16px;
    line-height:17px;
    padding: 3px 4px ;
    white-space: pre-wrap;
    word-wrap: break-word;

}

.textarea:focus, .textareaClone:focus  {

    text-shadow:none;
    float:left;
    -webkit-transition:background .5s ease-in, color .3s ease-in; 
    -moz-transition:background .5s ease-in, color .3s ease-in;  
    -o-transition:background .5s ease-in, color .3s ease-in;  
    transition:background .5s ease-in, color .3s ease-in; 
}

.fixed, .fixed:focus{
    word-break: break-all;
    word-wrap: break-word;
}

::-moz-focus-inner {
    border: 0;}
.button {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
         outline: none;
         white-space: nowrap;
         background-color:rgba(33, 52, 53, 1);
         color:#E1E3AC;
         font-weight: normal;
         margin-top: 35px;
         padding:0 8px;
         text-decoration:none;
         z-index:10;
         cursor:pointer;
         line-height: 1.8;
}

img {
    opacity:1;
}

.img_logo {
    width: 10%;
}


input#stats{
    margin:0;
    font-size:7px;
    height:12px;
    width:196px;
    position:absolute;
    bottom:1px;
    right:2px;
    z-index:10;
    text-align:right;
    vertical-align:bottom;
}




#subjx
{
    width: 45px;
    height:35px;

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;

}

#mailx{width: 50px;height:35px;

       border-radius: 0;
       -moz-border-radius: 0;
       -webkit-border-radius: 0;


}	



#name{
    padding-left: 6px;
    width: 45px;
    height:35px;
    border-radius: 17.5px 0 0 17.5px;
    -moz-border-radius: 17.5px 0 0 17.5px;
    -webkit-border-radius: 17.5px 0 0 17.5px;



}
#attachbutton{
    width:100%;
    line-height:35px;
    border-radius: 0 17.5px 17.5px  0;
    -moz-border-radius: 0 17.5px 17.5px  0;
    -webkit-border-radius:0 17.5px 17.5px  0;
    padding:0 6px;
    font-family: Arial, Helvetica, sans-serif;  
    transition: color .6s ease-in, text-shadow .1s;
    -moz-transition: color .6s ease-in, text-shadow .1s;
    -webkit-transition: color .6s ease-in, text-shadow .1s;
    -o-transition: color .6s ease-in, text-shadow .1s;}



#attachbutton:hover, attachbutton:focus{transition: color .2s, text-shadow .2s;
                                        -moz-transition: color .2s, text-shadow .2s;
                                        -webkit-transition: color .2s, text-shadow .2s;
                                        -o-transition: color .2s, text-shadow .2s;
                                        text-shadow: 0 0 5px  rgba(225,227,172, .8);
                                        border-radius: 0 17.5px 17.5px  0;
                                        -moz-border-radius: 0 17.5px 17.5px  0;
                                        -webkit-border-radius:0 17.5px 17.5px  0;
}
#presub {
    margin-top:120px;

    width:314px;
    height:35px;
    position:absolute;}



#wrong{padding-left:2px; height:11px; margin: 0; font-family: Arial, Helvetica, sans-serif;  font-size:10px; color:#5a5a5a; position:relative; clear:both}

.hide{display:none; margin-top:-45px}



#menu{height:35px; margin-bottom:12px; width:314px; position:relative;}
.sm {border: none;list-style:none; width:314px; height:35px; display:block; overflow:hidden;}
.sm li {float:left; display:inline; overflow:hidden ;margin:0}

table { width:100%}
table, tr, td, th { border-collapse:collapse;}
table, tr, td, th {border-collapse:collapse; margin:0; padding:0; border:0; background:transparent ; text-align:none; vertical-align:top;}

table td, table th, table tr.odd, table tr:hover {vertical-align:top; margin:0; padding:0; border:none; background:none}
* {margin:0; padding:0}

#unclick{position:absolute;}
.unclick{z-index: 1000000;
         background: url();

         filter: alpha(opacity=1);
         opacity: 0.01;

         width:100%;
         dispaly:none}
#space {height:12px}
html{
    width:100%;
    height:100%;
}
h1{
    color: #213435;
    font-size: 28px;
    font-family: 'abeatbyKaiRegular';
    font-weight: normal;
    padding: 15px 0 40px 0;
}
body {
    height:100%;
    margin:0;
}
.bg {
    position: relative;
    height: 100%;
    padding: 4%;
    text-align: center;
}
#menu {
    margin-left: auto;
    margin-right: auto;
    padding-bottom:10px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #E1E3AC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #E1E3AC;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #E1E3AC;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #E1E3AC;
}
.form-shade {
    text-align: center;
}
.form-shade input, .textarea, .textareaClone{
    color: #213435;
    background-color: rgba(100, 138, 100, .1);
    border: 1px solid rgba(225,227,172, .4);
    box-shadow: 0 0 10px rgba(225,227,172,.4), 0 4px 10px rgba(100, 138, 100, .4) inset, 0 0 24px rgba(225,227,172,.1);
}
.form-shade input:focus, .textarea:focus, .textareaClone:focus {
    border: 1px solid rgba(225,227,172, 1);
    background-color: rgba(70,104,91, .2);
}
.btn-menu:active {
    text-shadow: 0 0 5px rgba(225,227,172, 1);
}
.btn-form {
    background-color:#213435;
    color:#E1E3AC;
    line-height: 1.8;
    border-radius: 50%;
    font-size:22px;
    border: none;
}
.btn-form:focus, .btn-form:active {
    box-shadow: 0 0 5px rgba(225,227,172, 1);
}
.btn-form:hover, .btn-menu:hover {
    color: #E1E3AC;
    text-shadow: 0 0 5px rgba(225,227,172, 1);
}

.btn-menu {
    color: #213435;
    margin-top:0!important;
    background-color: rgba(70,104,91, .2);
    border: none;
    font-size: 14px;
    padding-left: 2px;
    padding-right:2px;
}

.activated {    color: rgba(225,227,172, .8);
                text-shadow: 0 0 5px  rgba(225,227,172, .8);

}

    @media (max-width:768px) {
    body {
        overflow-y: visible;
        
    }
    .img_logo {
        margin: 10% 0 10% 0;
        width: 40%;

    }
    h1{
        font-size: 48px;
        padding-bottom: 10%;
    }
    .btn-form {
        font-size: 46px;
        padding: 0 20px;
        margin: 5% 0 5%;
    }
    .textarea, .textareaClone{
        margin: 0 5%;
        width: 90%;

    }
}

